/* Acá va tu código */

body{
    font-family: 'Open Sans', sans-serif;
    margin:0 auto;
    width:35%;
    background-color: beige;
    font-weight:bold;
    }
    
    h1{
    color:brown;
    }
    
.button :hover{
    background-color: brown;
}
